In [1]:
import pandas as pd
import numpy as np
import os
import time

In [26]:

dirt = ['neg','pos']
path = "../data/aclImdb/train/"
df = pd.DataFrame(columns=['movieID','review','rate','label'])

t = time.time()
for j in range(2):
    files = os.listdir(path+dirt[j])
    for index,file in enumerate(files):
        files_txt  = path+dirt[j]+'/'+file
        rate = file.split('_')[1].split('.')[0]
        movieID = file.split('_')[0]
        with open(files_txt,encoding='utf8') as f:
            txt = f.read()
        if(j==0):
            df.loc[index] = [movieID,txt,rate,j]
        else:
            df.loc[index + 12500] = [movieID,txt,rate,j]
df.to_csv("../data_df/pos_neg.csv")
elapsed = time.time() - t
print(elapsed)

163.4515380859375

In [32]:
df.head()

  movieID                                             review rate label
0       0  Story of a man who has unnatural feelings for ...    3     0
1   10000  Airport '77 starts as a brand new luxury 747 p...    4     0
2   10001  This film lacked something I couldn't put my f...    4     0
3   10002  Sorry everyone,,, I know this is supposed to b...    1     0
4   10003  When I was little my parents took me along to ...    1     0

In [14]:
path = "../data/aclImdb/train/unsup"
df = pd.DataFrame(columns=['movieID','review','rate'])

t = time.time()
files = os.listdir(path)
for index,file in enumerate(files):
    files_txt  = path+'/'+file
    rate = file.split('_')[1].split('.')[0]
    movieID = file.split('_')[0]
    with open(files_txt,encoding='utf8') as f:
        txt = f.read()
    df.loc[index] = [movieID,txt,rate]
df.to_csv("../data_df/unsup.csv")
elapsed = time.time() - t
print(elapsed)

976.4124648571014

In [15]:
df.head()

  movieID                                             review rate
0       0  I admit, the great majority of films released ...    0
1   10000  Take a low budget, inexperienced actors doubli...    0
2   10001  Everybody has seen 'Back To The Future,' right...    0
3   10002  Doris Day was an icon of beauty in singing and...    0
4   10003  After a series of silly, fun-loving movies, 19...    0

In [33]:
dirt = ['neg','pos']
path = "../data/aclImdb/test/"
df = pd.DataFrame(columns=['movieID','review','rate','label'])

t = time.time()
for j in range(2):
    files = os.listdir(path+dirt[j])
    for index,file in enumerate(files):
        files_txt  = path+dirt[j]+'/'+file
        rate = file.split('_')[1].split('.')[0]
        movieID = file.split('_')[0]
        with open(files_txt,encoding='utf8') as f:
            txt = f.read()
        if(j==0):
            df.loc[index] = [movieID,txt,rate,j]
        else:
            df.loc[index + 12500] = [movieID,txt,rate,j]
df.to_csv("../data_df/pos_neg_test.csv")
elapsed = time.time() - t
print(elapsed)

298.7497184276581

In [8]:
df.head()

,Unnamed: 0,movieID,review,rate,label
0,0,0,Once again Mr. Costner has dragged out a movie...,2,0
1,1,10000,This is an example of why the majority of acti...,4,0
2,2,10001,"First of all I hate those moronic rappers, who...",1,0
3,3,10002,Not even the Beatles could write songs everyon...,3,0
4,4,10003,Brass pictures (movies is not a fitting word f...,3,0