In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
import string, unicodedata
import nltk
from bs4 import BeautifulSoup
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from contraction import fix
import inflect
import time

In [65]:
os.getcwd()

'C:\\Users\\sunilchawla\\Desktop\\ass2\\code'

In [66]:
path = "../data_df/"

In [67]:
df_train = pd.read_csv(path+"pos_neg.csv",sep = ",")
df_test = pd.read_csv(path+"pos_neg_test.csv",sep = ",")

In [68]:
df_train.drop(['Unnamed: 0'], axis = 1, inplace = True)
df_test.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [69]:
df_train.head()

   movieID                                             review  rate  label
0        0  Story of a man who has unnatural feelings for ...     3      0
1    10000  Airport '77 starts as a brand new luxury 747 p...     4      0
2    10001  This film lacked something I couldn't put my f...     4      0
3    10002  Sorry everyone,,, I know this is supposed to b...     1      0
4    10003  When I was little my parents took me along to ...     1      0

In [70]:
df_test.head()

   movieID                                             review  rate  label
0        0  Once again Mr. Costner has dragged out a movie...     2      0
1    10000  This is an example of why the majority of acti...     4      0
2    10001  First of all I hate those moronic rappers, who...     1      0
3    10002  Not even the Beatles could write songs everyon...     3      0
4    10003  Brass pictures (movies is not a fitting word f...     3      0

In [71]:
import warnings
warnings.filterwarnings('ignore')

In [72]:
df_train['review']=df_train['review'].str.lower()
df_test['review'] =df_test['review'].str.lower()

In [73]:
def replace_contractions(text):
    """Replace contractions in string of text"""
    return fix(text)

In [74]:
df_train['review'] = df_train['review'].apply(lambda x: " ".join(replace_contractions(x) for x in x.split()))
df_test['review'] = df_test['review'].apply(lambda x: " ".join(replace_contractions(x) for x in x.split()))

In [75]:
def strip_html(text):
    soup = BeautifulSoup(text, "html.parser")
    return soup.get_text()

In [76]:
def denoise_text(text):
    text = strip_html(text)
    return text

In [77]:
def normalize(text):
    text = strip_html(text)
    text = denoise_text(text)
    return text

In [78]:
df_train['review'] = df_train['review'].apply(lambda x: normalize(x))
df_test['review'] = df_test['review'].apply(lambda x: normalize(x))

In [79]:
df_train['review']

0        story of a man who has unnatural feelings for ...
1        airport '77 starts as a brand new luxury 747 p...
2        this film lacked something i could not put my ...
3        sorry everyone,,, i know this is supposed to b...
4        when i was little my parents took me along to ...
5        "it appears that many critics find the idea of...
6        the second attempt by a new york intellectual ...
7        i do not know who to blame, the timid writers ...
8        this film is mediocre at best. angie harmon is...
9        the film is bad. there is no other way to say ...
10       this film is one giant pant load. paul schrade...
11       the plot for descent, if it actually can be ca...
12       plot is not worth discussion even if it hints ...
13       this film is about a male escort getting invol...
14       this movie must be in line for the most boring...
15       a worn-out plot of a man who takes the rap for...
16       i saw this movie at a drive-in in 1959. until ...
17       ghost of dragstrip hollow is a typical 1950's ...
18       "ghost of dragstrip hollow" was one of the man...
19       "ghost of dragstrip hollow" appears to take pl...
20       the characters are unlikeable and the script i...
21       kareena kapoor in a bikini hmmmmmmmm.akshay ku...
22       i rented this on dvd and i kind of feel bad si...
23       vijay krishna acharya's 'tashan' is a over-hyp...
24       the worst movie i have seen since tera jadoo c...
25       summer season is here when the choices in the ...
26       shame on yash raj films and aditya chopra who ...
27       first lesson that some film makers (particular...
28       if this is a 2008 product from one of the bigg...
29       i had some expectation for the movie, since it...
                               ...
24970    its not as good as the first movie,but its a g...
24971    sure, it was cheesy and nonsensical and at tim...
24972    spoilers through: i really am in the minority ...
24973    i have to say, i loved vanishing point. i've s...
24974    to start off with, since this movie is a remak...
24975    i have to agree with most of the other posts. ...
24976    any movie that shows federal pigs (persons in ...
24977    in canadian director kari skogland's film adap...
24978    i saw this movie last night after waiting ages...
24979    this movie is about basically human relations,...
24980    i was surprised at just how much i enjoyed thi...
24981    i saw this film in winnipeg recently - appropr...
24982    as perhaps one of the few canadians who did no...
24983    i was very moved by the story and because i am...
24984    what i loved about the on-screen adaptation of...
24985    i had a chance to see a screening of this movi...
24986    this is a really interesting movie. it is an a...
24987    i saw the movie recently and really liked it. ...
24988    i thought this movie was hysterical. i have wa...
24989    ...this is a classic with so many great dialog...
24990    the most hillarious and funny brooks movie i e...
24991    "life stinks" is a parody of life and death, h...
24992    this is the kind of film you want to see with ...
24993    i have not read the other comments on the film...
24994    life stinks (1991) was a step below mel brooks...
24995    seeing as the vote average was pretty low, and...
24996    the plot had some wretched, unbelievable twist...
24997    i am amazed at how this movie(and most others ...
24998    a christmas together actually came before my t...
24999    working-class romantic drama from director mar...
Name: review, Length: 25000, dtype: object

In [80]:
df_train['review']= df_train['review'].str.replace('[^\w\s]','')
df_test['review']= df_test['review'].str.replace('[^\w\s]','')

In [81]:
stop_word = ["above", "such", "each", "same", "once", "only", "might", "between", "until", "against", "below", "up", "down", "over", "all", "few", "most", "no", "not", "too", "very", "won", "again", "nor"]

In [82]:
from nltk.corpus import stopwords
from string import punctuation
customStopWords=[]
for x in stopwords.words('english'):
     if x not in stop_word:
            customStopWords.append(x)
customStopWords = set(customStopWords+list(punctuation)+['hmm','hmmm','hmmmm','hmmmmm','hmmmmmm','hmmmmmmm','hmmmmmmmm'])

In [83]:
customStopWords

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'about',
 'after',
 'ain',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'during',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'hmm',
 'hmmm',
 'hmmmm',
 'hmmmmm',
 'hmmmmmm',
 'hmmmmmmm',
 'hmmmmmmmm',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'now',
 'o',
 'of',
 'off',
 'on',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'own',
 're',
 's',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'under',
 've',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',
 '{',
 '|',
 '}',
 '~'}

In [84]:
df_train['review'] = df_train['review'].apply(lambda x: " ".join(x for x in x.split() if x not in customStopWords))
df_test['review'] = df_test['review'].apply(lambda x: " ".join(x for x in x.split() if x not in customStopWords))

In [85]:
df_train['review'][5]

'appears many critics find idea woody allen drama unpalatable good reason unbearably wooden pretentious imitations bergman let us not kid critics mostly supportive allens bergman pretensions allens whining accusations contrary notwithstanding not get allen generally applauded originality imitating bergman contemporaneous brian depalma excoriated ripping hitchcock suspensehorror films robin woods view strange form cultural snobbery would agree'

In [86]:
import re
REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\()|(\))|(\[)|(\])")
REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")
def preprocess_reviews(reviews):
    reviews = [REPLACE_NO_SPACE.sub("", line.lower()) for line in reviews]
    reviews = [REPLACE_WITH_SPACE.sub(" ", line) for line in reviews] 
    return reviews

df_train['review'] = pd.Series(preprocess_reviews(df_train['review']))
df_test['review'] = pd.Series(preprocess_reviews(df_test['review']))

In [101]:
train_rare_word = pd.Series(' '.join(df_train['review']).split()).value_counts()[-10:]
train_rare_word

loneavenger               1
rememberor                1
spinthebottle             1
kraftebing                1
tragedyit                 1
disappointmentby          1
competentlydelivered      1
sleepwalkersscreenplay    1
villans                   1
3000i                     1
dtype: int64

In [102]:
test_rare_word = pd.Series(' '.join(df_test['review']).split()).value_counts()[-10:]
test_rare_word

usamy                1
realz                1
scarcity             1
stageor              1
unequivocalhighly    1
cattrallwho          1
craftsmanlike        1
onefighting          1
straightgay          1
asis                 1
dtype: int64

In [103]:
train_rare_word = list(train_rare_word.index)
df_train['review'] = df_train['review'].apply(lambda x: " ".join(x for x in x.split() if x not in train_rare_word))

In [104]:
test_rare_word = list(test_rare_word.index)
df_test['review'] = df_test['review'].apply(lambda x: " ".join(x for x in x.split() if x not in test_rare_word))

In [107]:
lmtzr = WordNetLemmatizer()
def lemmatize_word(text):
    word_sent = word_tokenize(text)
    text = [lmtzr.lemmatize(word) for word in word_sent]
    return text

In [108]:
df_train['words'] = df_train['review'].apply(lambda x: lemmatize_word(x))

In [109]:
df_test['words'] = df_test['review'].apply(lambda x: lemmatize_word(x))

In [110]:
df_train['words_sent'] = [" ".join(list_sent) for list_sent in df_train['words'].values]
df_test['words_sent'] = [" ".join(list_sent) for list_sent in df_test['words'].values]

In [113]:
df_train['words_sent']

0        story man unnatural feeling pig start opening ...
1        airport 77 start brand new luxury 747 plane lo...
2        film lacked something could not put finger fir...
3        sorry everyone know supposed art film wow hand...
4        little parent took along theater see interior ...
5        appears many critic find idea woody allen dram...
6        second attempt new york intellectual le 10 yea...
7        not know blame timid writer clueless director ...
8        film mediocre best angie harmon funny bag hamm...
9        film bad no way say story weak outdated especi...
10       film one giant pant load paul schrader utterly...
11       plot descent actually called plot two notewort...
12       plot not worth discussion even hint corruption...
13       film male escort getting involved murder inves...
14       movie must line most boring movie year not eve...
15       wornout plot man take rap woman murder case eq...
16       saw movie drivein 1959 until howard duck consi...
17       ghost dragstrip hollow typical 1950s teen turm...
18       ghost dragstrip hollow one many 50 movie hotro...
19       ghost dragstrip hollow appears take place spot...
20       character unlikeable script awful waste talent...
21       kareena kapoor bikini hmmmmmmmmakshay kumarani...
22       rented dvd kind feel bad since dawson lugacy e...
23       vijay krishna acharyas tashan overhyped styliz...
24       worst movie seen since tera jadoo chal gaya no...
25       summer season choice cinema limited hottest mo...
26       shame yash raj film aditya chopra seems lost i...
27       first lesson film maker particularly inspired ...
28       2008 product one biggest production house indi...
29       expectation movie since nice star cast return ...
                               ...
24970    not good first moviebut good solid movie good ...
24971    sure cheesy nonsensical time corny least filmm...
24972    spoiler really minority one liked movie not cl...
24973    say loved vanishing point ive seen original pr...
24974    start since movie remake classic rating lowere...
24975    agree most post comedy drama leaned little muc...
24976    movie show federal pig person government power...
24977    canadian director kari skoglands film adaptati...
24978    saw movie last night waiting age age released ...
24979    movie basically human relation interaction bet...
24980    surprised much enjoyed most thoughtfully deliv...
24981    saw film winnipeg recently appropriate given l...
24982    perhaps one few canadian not read book high sc...
24983    very moved story going something similar paren...
24984    loved onscreen adaptation stone angel stayed t...
24985    chance see screening movie recently believe th...
24986    really interesting movie action movie comedy m...
24987    saw movie recently really liked surprised crie...
24988    thought movie hysterical watched many time rec...
24989    classic many great dialog scene nobody miss ni...
24990    most hillarious funny brook movie ever seen wa...
24991    life stink parody life death happiness depress...
24992    kind film want see glass wine fire foot up not...
24993    not read comment film judging average rating s...
24994    life stink 1991 step below mel brook productio...
24995    seeing vote average pretty low fact clerk vide...
24996    plot wretched unbelievable twist however chemi...
24997    amazed movieand most others average 5 star low...
24998    christmas together actually came time ive rais...
24999    workingclass romantic drama director martin ri...
Name: words_sent, Length: 25000, dtype: object

In [115]:
Y_train = df_train['label']
Y_test = df_test['label']

In [128]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1, 3),max_df=0.9,min_df=2)
train_document = vectorizer.fit_transform(df_train['words_sent'])
test_document = vectorizer.transform(df_test['words_sent'])

In [129]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(C=22,penalty='l2')
classifier = clf.fit(train_document, Y_train)
print("Training set score using _tfidf: {:.2f}" .format(classifier.score(train_document, Y_train)))
print("Test set score using _tfidf: {:.5f}".format(classifier.score(test_document, Y_test)))

Training set score using _tfidf: 1.00
Test set score using _tfidf: 0.89392

In [133]:
d = ['er','drf']
r = ['drff']

In [132]:
X_train

array(['er', 'drf'], dtype='<U3')